.image-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-content: start;
    width: 100%
}

.self-container {
  width: 30%;
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 0.75rem;
  justify-content: left;
}

.image {
  width: 80%;
  height: 90%;
  border: 2px solid black;
}