
.wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
}

.aside {
  display: flex;
  flex: none;
  width: 350px;
  height: 100%;
  background-color: #bfbab078;
}
.main{
  display: flex;
  flex: 1;
  overflow: auto;
}
